package main

import (
	"{{.Name}}/internal/app/api"
	"{{.Name}}/internal/app/common"
	"{{.Name}}/internal/app/toolkit/log"
	"fmt"
	"net/http"
)

func main() {
	log.Info("{{.Name}} start...", "localhost"+common.PORT)
	api.RegisterApi()
	err := http.ListenAndServe(common.PORT, nil)
	if err != nil {
		fmt.Println(err)
	}

	fmt.Println("pen server start success, on prod : " + common.PORT)
}
