package main

import (
	"fmt"
	"net/http"
	"{{.Name}}/internal/app/api"
	"{{.Name}}/internal/app/common"
	"{{.Name}}/internal/app/inits"
	"{{.Name}}/internal/app/toolkit/log"
)

func init() {
	inits.Init()
}

func main() {
	log.Info("{{.Name}} start...", "localhost"+common.PORT)
	api.RegisterApi()
	fmt.Println("pen server on prod :" + common.PORT, " starting...")
	err := http.ListenAndServe(common.PORT, nil)
	if err != nil {
		fmt.Println(err)
	}

}
