package handler

import (
	"encoding/json"
	"net/http"
	"{{.Name}}/internal/app/servers/hi_server"
)

// hi api
func Hi(w http.ResponseWriter, r *http.Request) {

	body, err := ioutil.ReadAll(r.Body)
	if err != nil {
		fmt.Println(err)
	}

	fmt.Println("body data:", string(body))

	var result = BaseResponse{
		Success: true,
	}

	result.Message = hi_server.Hi()
	// result.
	_res, _ := json.Marshal(result)
	w.Write(_res)
}

