package api

import (
	"{{.Name}}/internal/app/api/handlers"
	"{{.Name}}/internal/app/toolkit/router"
)

func RegisterApi() {

	router.UrlGroup("/user",
		router.Url("/list", handlers.GetUserList),
		router.Url("/find", handlers.GetUser),
	)

	router.Url("/ping", handlers.Ping)
	router.Init()
}
