package api

import (
	"{{.Name}}/internal/app/api/handler"
	"{{.Name}}/internal/app/toolkit/router"
)

func RegisterApi() {

	router.UrlGroup("/user",
		router.Url("/list", handler.GetUserList),
		router.Url("/find", handler.GetUser),
	)
	router.Init()
}
